<h2>New Photo</h2>
<%= form_for @photo do |form| %>
<div>
  <%= form.file_field :photo %>
</div>
<div>
  <%= form.label :alt, "Alt Text" %>
  <%= form.text_field :alt %>
</div>
<div>
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>
<div>
  <%= form.submit %>
</div>
<% end %>
