<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %> | <%=h yield(:title) %></title>
  <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
