<!DOCTYPE html>
<html>
<head>
  <title>The Doty | <%=h yield(:title) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page">
    <div class="title">
      <a href="/">
	<div>
	  <h1>THE DOTY</h1>
	</div>
      </a>
    </div>
    <div class="navigation">
      <hr />
      <ul data-no-turbolink>
	<%= nav_li(:blog, 'BLOG') %>
	<%= nav_li(:photos, 'PHOTOGRAPHS') %>
	<%= nav_li(:favorites, 'FAVORITES') %>
	<%= nav_li(:about, 'ABOUT') %>
      </ul>
      <hr />
    </div>

    <div class="content">
    <%= yield %>
    </div>

    <div class="navigation">
      <hr />
      <ul>
	      <li><a href="mailto:jdoty0@gmail.com">EMAIL</a></li>
	      <li><a href="http://www.linkedin.com/pub/jason-doty/5/985/642">LINKEDIN</a></li>
	      <li><a href="http://twitter.com/thedoty">TWITTER</a></li>
              <li><a href="http://500px.com/TheDoty">500px</a></li>
	      <li><a href="http://www.crazyguyonabike.com/directory/?user=TheDoty">CGOAB</a></li>
	      <li><a href="https://github.com/TheDoty/thedoty">SOURCE</a></li>
      </ul>
      <hr />
    </div>
  </div>
</body>
</html>
