<%# This is a wrapper to boot up AngularJS, see partial.html.erb for your general layout stuff. %>
<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %> | <%=h yield(:title) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>
  <div class="page" ng-app="publicApp">    
    <div ng-view></div>
  </div>
</body>
</html>
